@tailwind base;
@tailwind components;
@tailwind utilities;


/* ---------------------------------------
    레이아웃 Layout
   ---------------------------------------
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
}


/* ---------------------------------------
    기본세팅 입력창
   ---------------------------------------
*/
table input {
    height: 30px;
}
input, textarea, select {
    border: 1px solid #d0d0d0;
    padding: 0 15px;
    border-radius: 8px;
    height: 35px;

    &::placeholder {
        color: #aaa;
    }
}
input:focus, textarea:focus, select:focus{
    outline: none;
    background-color: var(--color-main-lighter);
}


table input[type="checkbox"] {
    width: 18px;
    height: 18px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=file]{
    border: none;
    padding: 0;
}
input[type=file]::file-selector-button {
    width: 100px;
    height: 30px;
    background: #fff;
    border: 1px solid #00bc71;
    border-radius: 10px;
    cursor: pointer;
    color: #00bc71;
    margin-right: 20px;
}



/* ---------------------------------------
    스크롤 커스텀
   ---------------------------------------
*/

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #d7d7d7;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

::-webkit-scrollbar-track {
    background-color: #efefef;
    border-radius: 12px;
}


/* ---------------------------------------
    테마별 색상 Theme color
   ---------------------------------------
*/
@layer base {
    :root {
        --color-main: #5c7dee;
        --color-main-light: #92aaf5;
        --color-main-lighter: #dce3f7;
        --color-sub: #71c3a8;
        --color-sub-light: #a2daca;
        --color-sub-lighter: #e5fff6;
    }
    html[data-theme='hiparking'],
    html[data-theme='turu']{
        --color-main: #f1923e;
        --color-main-light: #fdae68;
        --color-main-lighter: #fff3e7;
        --color-sub: #efb944;
        --color-sub-light: #fcd174;
        --color-sub-lighter: #fadfaf;
    }
    html[data-theme='kmpark'] {
        --color-main: #6a95f6;
        --color-main-light: #a3bbef;
        --color-main-lighter: #e0e9ff;
        --color-sub: #868686;
        --color-sub-light: #c0c0c0;
        --color-sub-lighter: #dcdcdc;
    }
}




